@media screen and (orientation:portrait) {
    body{
        background-color: aqua;
    }

    #caixa1{
      margin: auto;
      margin-left: 10px;
      width: 100px;
      height: 100px;
    }

    #caixa2{
        margin: auto;
        width: 100px;
        height: 100px;
      }
  
}

@media screen and (orientation:landscape){
    body {
        background-color: blue;

    }

    #caixa1{
        margin: auto;
        margin-left: 10px;
        width: 100px;
        height: 100px;
      }
  
      #caixa2{
          margin: auto;
          width: 100px;
          height: 100px;
        }
    
}