@media screen and (orientation:portrait) {
    body{
        width: 98vw;
        height: 98vh;
    }

    #caixa1{
      margin: auto;
      margin-left: 10px;
      width: 350px;
      height:350px;
    }

    #caixa2{
        margin: auto;
        width: 350px;
        height:350px;
      }
  
}

@media screen and (orientation:landscape){
    body {
        width: 98vw;
        height: 98vh;

    }

    #caixa1{
        margin: auto;
        margin-left: 10px;
        width: 350px;
        height: 350px;
      }
  
      #caixa2{
          margin: auto;
          width: 350px;
          height: 350px;
        }
    
}