@media screen and (orientation:portrait) {
    html,body{
        
        width: 100vw;
        height: 100vh;
    }

    #caixa1{
      margin: 10%;
      width: 340px;
      height:340px;
    }

    #caixa2{
        margin: auto;
        width: 340px;
        height:340px;
    
      }
  
}

@media screen and (orientation:landscape){
    html,body {
        width: 100vw;
        height: 100vh;

    }

    #caixa1{
        margin: 10%;
       
        margin-left: 10px;
        width: 340px;
        height: 340px;
      }
  
      #caixa2{
          margin: 10%;
          width: 340px;
          height: 340px;
        }
    
}