@charset "UTF-8";

@media screen and (min-width:768px)and (max-width: 1144px) {
    
     * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }

    

    body {
      background-color: hsl(36, 100%, 99%);
      width: 100vw;
      height: 100vh; 
      font-family: 'Inter', sans-serif;

      

    }

    header {
        margin: auto;
        width: 344px;
        

        
    }


    nav {
        
        display: flex;
        justify-content: space-between;
        
        
    }

    nav #iconeW{
        position: relative;
        right: 110%;
        margin: 20px 20px 20px 0px;
        width: 44px;
        float: left;
        
    }

    nav #abrirMenu{
        display: none;       
        justify-self: center;
        align-self: center;
        
    }

    nav #abrirMenu:hover{
        cursor: pointer;
    }
    /* meunu com as opções  */ 
    nav #menu {
        margin: auto;
        display: flex;
        justify-self: center;
        align-items: flex-end;
        text-decoration: none;
    
        
        
        
        
        
         
    }


    nav #menu a{
        position: relative;
        margin: 13px 25px;
        text-decoration: none;
        left : 91px;
        font-size: 1.2rem;
        color: black;
    }

    nav #fecharMenu{
        display: none;
        width: 33px;
        align-self: flex-end;
        margin: 20px 20px 35px 20px;
    }

   

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section{
        display: flex;
        flex-direction: row;
        
    }

    aside#web3 {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 730px;
        height: 211px;
        
        
    }

   
    section > article > #ftgrande{
        display: flex;
        width: 730px;
        height: 300px;
    }

    section > article > #ftpequena {
        display: none;
        margin: auto;
        width: 344px;
        height: 300px;
        margin-top: 15px;
    }

    section > article > #web3 > h1{
        float: left;
        width: 360px;
        font-size: 3.1rem;
        font-weight: 800;
        line-height: 50px;
        margin: 30px 0px;
    }

    section > article > #web3 > p {
        font-size: 1rem;
        width: 360px;
        float: right;
        line-height: 25px;
        margin: 30px 25px;
    }


    #web3 > #leiamais{
        position: absolute;
        float: end;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(5, 85%, 63%);
        width: 187px;
        height: 50px;
        margin: 15px 0px;
        text-align: center;
        top : 140px;
        right: 175px
    }
    
    section > article > #web3 > #leiamais > a {
        
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 700;
        color: hsl(36, 100%, 99%);
        letter-spacing: 5px;

    }


 
   

    aside#news {
        background-color: hsl(240, 100%, 5%);
        width: 350px;
        height: 511px;
        color: hsl(36, 100%, 99%);
        margin: 65px 0px;
        margin: 0px 20px;
        
    }

    aside#news > h2{
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 40px;
        color: hsl(35, 77%, 62%);
        padding: 20px ;

    }

    aside#news > h3 {
        font-size: 1.3rem;
        line-height: 30px;
        margin: 20px 18px 0px 18px ;
    }

    aside#news > p {
        line-height: 30px;
        margin: 10px 18px;
        color: hsl(233, 8%, 79%);

    }

    aside#news hr{
        margin: 15px 18px;
       
        
        
    }
    
    article#mais{
        position: relative;
        right: 10px;
        width: 1100px;
        height: 127px;
        display: flex;
        margin: 20px 0px;
        justify-content: space-between;
        
    }

    article#mais > #t01 > img,
    article#mais > #t02 > img {
        width: 100px;
        height: 127px;
        
    }

    article#mais > #t03 > img{
        width: 100px;
        height: 127px;
        margin-left: 16px;
    }

    #t01, #t02, #t03 {
        display: flex;
        width: 370px;
        
    }

    .texto{
        
        height: 127px;
        padding: 0px 20px;

    }

    .texto > h2 {
        font-size: 1.9rem;
        color: hsl(233, 8%, 79%);

    }

    .texto > h3{
        font-size: 1rem;
        margin: 10px 0px;
        font-weight: 800;
      
    }

    .texto > p {
        font-size: 0.9rem;
        line-height: 25px;
    }

}